body {
    font-family: Helvetica, sans-serif;
    background-image: url('/Images/p.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.container {
    margin-top: 100px;
    text-align: center;
}


.container {
    border-radius: 10px;
    background-color: #fff;
    padding: 30px;
    margin: 20px auto;
    max-width: 1200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
